

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#wrapper {
     
  border-bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
 
}

h1 {
    text-align: center;
}
#comment-error, #inputEmail-error, #howFind-error, #howRate-error, #name-error, #ccomment-error {
  color: red; 
  
}




.form-control {
    
    &:focus {
             border-color: #FF1212;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,18,18,.6);
    }
}

.form-horizontal {
    border: 1px solid #e3e3e3;
    background-color: #f5f5f5;
    padding-top: 15px;

}










